#action__zone {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 30px;
  row-gap: 5px;
}

#action__zone #text {
  font-family: "Courier Prime", monospace;
  font-size: 0.7em;
}

#action__zone #action__button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
