#player__config #player__info {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: [info-start] 1fr /*[info-middle] 1fr */ [info-end];
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-yellow);
  color: var(--dark-blue);
}

#player__config #player__info #player__name {
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
  font-weight: bolder;
}

#player__config #player__info #player__attributes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Courier Prime", monospace;
  font-size: 0.8em;
}

#player__config #player__info #player__inventory {
  grid-column: info-start / info-end;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: "Courier Prime", monospace;
}

#player__config #player__info #player__inventory #inventory__list {
  /* font-family: "Indie Flower", cursive; */
  font-size: 0.8em;
  grid-column: 1 / 6;
  border-bottom: 2px solid var(--dark-blue);
}

#player__config #player__info #player__inventory .inventory__item {
  place-self: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  border: 2px solid var(--orange);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

#player__config
  #player__info
  #player__inventory
  .inventory__item
  .item__description {
  font-size: 0.6em;
  text-transform: uppercase;
}

#player__config
  #player__info
  #player__inventory
  .inventory__item
  .item__quantity {
  font-size: 0.5em;
  font-weight: bolder;
}
