@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Indie+Flower&family=Rubik+Doodle+Shadow&family=Rubik+Maps&display=swap");

:root {
  --orange: #ff6c22;
  --dark-blue: #132043;
  --purple: #3d30a2;
  --yellow: #ffc436;
  --light-yellow: #fbecb2;
  --light-red: #ff6969;
  --white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

body {
  /* height: 1000px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  /* overflow-y: clip; */
}

#game__panel {
  width: 380px;
  height: 830px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 5px solid var(--orange);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#game__panel #game__title {
  font-family: "Rubik Doodle Shadow", monospace;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  /* border-bottom: 3px solid var(--white); */
  padding-bottom: 5px;
}
