@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Indie+Flower&family=Itim&family=Rubik+Doodle+Shadow&family=Rubik+Maps&family=Sevillana&display=swap");

:root {
  --dark-blue: #112d4e;
  --light-blue: #3f72af;
  --dark-gray: #52616b;
  --light-gray: #dbe2ef;
  --dark-red: #903749;
  --light-red: #e84545;
  --white: #f6f6f6;
  --black: #222831;
  --dark-purple: #424874;
  --light-purpel: #dcd6f7;
  --sand: #e3caa5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

body {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: flexs;
  justify-content: center;
}

#game__panel {
  max-width: 480px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    [row1-start] max-content [row1-end row2-start] calc(100dvh - 68px - 0.6rem)
    [row2-end row3-start] max-content [row3-end];
  row-gap: 0.3rem;
}

#title {
  display: grid;
  place-content: center;
  background-image: url(/img/scroll.jpg);
  background-size: 100dvw 170%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Rubik Doodle Shadow";
  font-size: 0.9rem;
}

#title #game__title {
}

/* #game__board {
} */

#game__history {
  height: 100%;
  background-image: url(/img/forrest.jpg);
  background-size: 100dvw calc(100dvh - 68px - 0.6rem);
  background-position: center;
  background-clip: border-box;
  padding: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  overflow-y: auto;
}

#game__history .history__paragraph {
  font-family: "Courier Prime";
  text-align: justify;
  text-indent: 2rem;
  margin-bottom: 1rem;
}

#player__entry {
  display: none;
}

#game__actions {
  display: none;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.3rem;
  padding: 5px;
}

footer > button {
  height: 1.5rem;
}
